### Lecture 23: Handing Missing Values KNN Imputer

Steps

1. Checking columns with Nan Values
2. Splitting data into training & testing
3. Code method to get all columns with Nan values at one place
4. Making object of KNN Imputer class
5. Applying fit_transform on Training data & transform on Test data
   
    ###### As after fit_transform X_train & X_test will be numpy array so if you want you can change them back to data frame (your choice)

    ###### Also no need to do steps i did after it

Importing Useful Libraries

In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer

from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

from sklearn.preprocessing import StandardScaler

Importing Data

In [2]:
df=pd.read_csv('framingham.csv')
df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

Step 1

In [3]:
df.isnull().mean()*100

male               0.000000
age                0.000000
education          2.477584
currentSmoker      0.000000
cigsPerDay         0.684285
BPMeds             1.250590
prevalentStroke    0.000000
prevalentHyp       0.000000
diabetes           0.000000
totChol            1.179802
sysBP              0.000000
diaBP              0.000000
BMI                0.448325
heartRate          0.023596
glucose            9.155262
TenYearCHD         0.000000
dtype: float64

Step 2

In [4]:
X=df.drop(columns='TenYearCHD',axis=1)
Y=df.TenYearCHD

In [5]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [6]:
print(X_train.shape)
print(X_test.shape)

(3390, 15)
(848, 15)

Step 3

In [7]:
col=[var for var in X_train.columns if X_train[var].isnull().mean()>0]

In [8]:
print(col)

['education', 'cigsPerDay', 'BPMeds', 'totChol', 'BMI', 'heartRate', 'glucose']

In [9]:
X_train.sample(10)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
1517,0,56,3.0,0,0.0,0.0,0,0,0,248.0,112.5,60.0,22.69,75.0,92.0
3937,0,35,2.0,0,0.0,0.0,0,0,0,175.0,121.5,74.5,20.86,92.0,93.0
2140,0,50,2.0,0,0.0,0.0,0,1,0,259.0,152.0,97.0,33.68,75.0,76.0
3787,0,49,3.0,0,0.0,0.0,0,0,0,203.0,125.0,70.0,22.52,72.0,NaN
396,1,39,3.0,0,0.0,0.0,0,0,0,202.0,136.5,79.0,24.35,73.0,60.0
1095,1,51,1.0,1,20.0,0.0,0,0,0,219.0,125.0,71.0,21.19,77.0,75.0
2311,0,43,1.0,1,20.0,0.0,0,0,0,245.0,112.5,80.0,23.43,90.0,77.0
1686,1,35,3.0,1,15.0,0.0,0,0,0,215.0,133.0,86.0,28.70,86.0,84.0
3175,0,50,4.0,1,9.0,0.0,0,0,0,256.0,136.5,81.0,23.07,75.0,78.0
3016,0,39,4.0,0,0.0,0.0,0,0,0,216.0,126.0,86.0,22.72,90.0,70.0

In [10]:
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)   
X_test = scaler.transform(X_test)

Step 4

In [11]:
# Making variable of KNN class 
KNN = KNNImputer(n_neighbors=2,weights='distance')

Step 5

In [12]:
X_train_trf = KNN.fit_transform(X_train)
X_test_trf = KNN.transform(X_test)

Using a model to check accuracy with KNN & Univariate Mean imputation

In [16]:
lr = LogisticRegression()

lr.fit(X_train_trf,Y_train)

y_pred = lr.predict(X_test_trf)

accuracy_score(Y_test,y_pred)

0.8584905660377359

In [17]:
# Comparision with Simple Imputer --> mean

SI = SimpleImputer(strategy='mean')

X_train_trf2 = SI.fit_transform(X_train)
X_test_trf2 = SI.transform(X_test)

In [18]:
lr = LogisticRegression()

lr.fit(X_train_trf2,Y_train)

y_pred2 = lr.predict(X_test_trf2)

accuracy_score(Y_test,y_pred2)

0.8573113207547169