## Making Model with Pipelines

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('data.csv')

df.drop(columns=['hours.per.week','capital.loss','race','fnlwgt','education','occupation'],inplace=True)

df.head()

,age,workclass,education.num,marital.status,relationship,sex,capital.gain,native.country,income
0,90,?,9,Widowed,Not-in-family,Female,0,United-States,<=50K
1,82,Private,9,Widowed,Not-in-family,Female,0,United-States,<=50K
2,66,?,10,Widowed,Unmarried,Female,0,United-States,<=50K
3,54,Private,4,Divorced,Unmarried,Female,0,United-States,<=50K
4,41,Private,10,Separated,Own-child,Female,0,United-States,<=50K

In [2]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=['income']),df.income,test_size=0.2,random_state=42)

Column Transformer

In [3]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
col=ColumnTransformer(
    
    transformers=[
        ('OHE',OneHotEncoder(sparse_output=False,dtype='int'),['workclass','marital.status','relationship','sex','native.country'])
    ] ,remainder='passthrough'
)

In [4]:
X_train_tnf=col.fit_transform(X_train)
X_test_tnf=col.transform(X_test)

Pipeline

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline 

model=LogisticRegression(random_state=42)
pipe=Pipeline(
    steps=[
        ('col',col),
        ('model',model)
    ]
)

pipe.fit(X_train,y_train)
pipe.predict(X_test)

d:\Coding Stuff\Channel\Machine Learning\venv\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array(['<=50K', '<=50K', '<=50K', ..., '<=50K', '<=50K', '<=50K'],
      dtype=object)

Checking Accuracy

In [6]:
train_acc=pipe.score(X_train,y_train)

test_acc=pipe.score(X_test,y_test)

In [7]:
print(f'Training Accuracy={train_acc}\nTest accuracy={test_acc}')

Training Accuracy=0.8131910319410319
Test accuracy=0.8105327805926609

Importing the model

In [8]:
import joblib

joblib.dump(
    {
        'pipe':pipe
    }, 'with_pipeline.pkl'
)

['with_pipeline.pkl']