# Lecture 36: Pipelines

## Making Model without Pipelines

Importing Libraries

In [1]:
import pandas as pd
import numpy as np

Importing Data Frame

In [2]:
df=pd.read_csv('data.csv')

df.drop(columns=['hours.per.week','capital.loss','race','fnlwgt','education','occupation'],inplace=True)

df.head()

,age,workclass,education.num,marital.status,relationship,sex,capital.gain,native.country,income
0,90,?,9,Widowed,Not-in-family,Female,0,United-States,<=50K
1,82,Private,9,Widowed,Not-in-family,Female,0,United-States,<=50K
2,66,?,10,Widowed,Unmarried,Female,0,United-States,<=50K
3,54,Private,4,Divorced,Unmarried,Female,0,United-States,<=50K
4,41,Private,10,Separated,Own-child,Female,0,United-States,<=50K

In [3]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=['income']),df.income,test_size=0.2,random_state=42)

In [4]:
from sklearn.preprocessing import OneHotEncoder

# Separate encoders
OHE_workclass = OneHotEncoder(sparse_output=False, dtype='int')
OHE_marital_status = OneHotEncoder(sparse_output=False, dtype='int')
OHE_relationship = OneHotEncoder(sparse_output=False, dtype='int')
OHE_sex = OneHotEncoder(sparse_output=False, dtype='int')
OHE_native_country = OneHotEncoder(sparse_output=False, dtype='int')

# Fit-transform on train, transform on test
X_train_workclass = OHE_workclass.fit_transform(X_train[['workclass']])
X_test_workclass = OHE_workclass.transform(X_test[['workclass']])

X_train_marital_status = OHE_marital_status.fit_transform(X_train[['marital.status']])
X_test_marital_status = OHE_marital_status.transform(X_test[['marital.status']])

X_train_relationship = OHE_relationship.fit_transform(X_train[['relationship']])
X_test_relationship = OHE_relationship.transform(X_test[['relationship']])

X_train_sex = OHE_sex.fit_transform(X_train[['sex']])
X_test_sex = OHE_sex.transform(X_test[['sex']])

X_train_native_country = OHE_native_country.fit_transform(X_train[['native.country']])
X_test_native_country = OHE_native_country.transform(X_test[['native.country']])

In [5]:
X_train_age=X_train[['age']]
X_test_age=X_test[['age']]

X_train_capital_gain=X_train[['capital.gain']]
X_test_capital_gain=X_test[['capital.gain']]

X_train_education_num=X_train[['education.num']]
X_test_education_num=X_test[['education.num']]

In [6]:
X_train_new=np.concatenate((X_train_age,X_train_workclass,X_train_education_num,X_train_marital_status,X_train_relationship,X_train_sex,X_train_capital_gain,X_train_native_country),axis=1)

X_test_new=np.concatenate((X_test_age,X_test_workclass,X_test_education_num,X_test_marital_status,X_test_relationship,X_test_sex,X_test_capital_gain,X_test_native_country),axis=1)

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model=LogisticRegression(random_state=42,max_iter=1000)

model.fit(X_train_new,y_train)

y_pred_train=model.predict(X_train_new)
y_pred_test=model.predict(X_test_new)


training_acc=accuracy_score(y_train,y_pred_train)
test_acc=accuracy_score(y_test,y_pred_test)

d:\Coding Stuff\Channel\Machine Learning\venv\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [8]:
print(f"Training Accuracy: {training_acc:.4f}")
print(f"Test Accuracy:     {test_acc:.4f}") # 'acc' is the test accuracy you already calculated

Training Accuracy: 0.8410
Test Accuracy:     0.8419

Exporting the model

In [9]:
import joblib
joblib.dump(
  {
      'model':model,
      'OHE_workclass':OHE_workclass,
      'marital_status':OHE_marital_status,
      'relationship':OHE_relationship,
      'sex':OHE_sex,
      'native_country':OHE_native_country
        }, 'without_pipeline.pkl'  

)

['without_pipeline.pkl']