### Lecture 24: Handing Missing Values Iterative Imputer

Steps

1. Checking columns with Nan Values (works best with MAR)
2. Splitting data into training & testing
3. Making object of Iterative Imputer class
4. Applying fit_transform on Training data & transform on Test data
   
    ###### As after fit_transform X_train & X_test will be numpy array so if you want you can change them back to data frame (your choice)

In [23]:

import numpy as np
import pandas as pd
from sklearn.experimental import enable_iterative_imputer # enables the imputer
from sklearn.impute import IterativeImputer # imputer itself

from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression

In [24]:
df=pd.read_csv('framingham.csv')
df.head(5)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

Train Test Split

In [25]:
X=df.drop(columns='TenYearCHD',axis=1)
Y=df.TenYearCHD

In [26]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,random_state=42,test_size=0.2)

In [27]:
X_train.sample(10)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
4093,0,46,2.0,0,0.0,0.0,0,0,0,229.0,125.0,80.0,27.27,66.0,80.0
1753,0,43,3.0,1,5.0,0.0,0,0,0,250.0,110.0,70.0,21.14,64.0,85.0
2731,1,56,1.0,1,20.0,0.0,0,0,0,300.0,165.0,112.0,23.68,86.0,78.0
592,1,39,4.0,1,15.0,0.0,0,0,0,232.0,115.0,72.5,30.22,90.0,105.0
3051,0,50,3.0,1,9.0,0.0,0,0,1,210.0,134.0,80.0,18.26,64.0,NaN
2947,0,59,2.0,0,0.0,0.0,0,0,0,279.0,132.0,88.0,26.48,78.0,88.0
422,0,42,2.0,1,15.0,0.0,0,0,0,177.0,112.5,70.0,20.62,86.0,83.0
614,0,52,2.0,1,20.0,0.0,0,0,0,244.0,127.5,72.5,24.29,67.0,118.0
2833,0,43,3.0,1,1.0,0.0,0,0,0,185.0,125.0,84.0,23.18,75.0,55.0
320,1,44,1.0,1,20.0,0.0,0,0,0,197.0,118.0,81.0,17.44,70.0,75.0

Applying Iterative imputer

In [ ]:
imputer = IterativeImputer(
    estimator=LinearRegression(),  
    max_iter=100,
    random_state=42,
    verbose=2)

In [29]:
X_train.isnull().sum()

male                 0
age                  0
education           88
currentSmoker        0
cigsPerDay          24
BPMeds              48
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             42
sysBP                0
diaBP                0
BMI                 14
heartRate            1
glucose            314
dtype: int64

Applying Fit Transform

In [ ]:
X_train['education']=imputer.fit_transform(X_train[['education']])
X_test['education']=imputer.transform(X_test[['education']])

X_train['glucose']=imputer.fit_transform(X_train[['glucose']])
X_test['glucose']=imputer.transform(X_test[['glucose']])

# X_train=imputer.fit_transform(X_train)
# X_test=imputer.fit_transform(X_test)

In [31]:
X_train=pd.DataFrame(X_train)
X_test=pd.DataFrame(X_test)

In [32]:
X_train

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1.0,40.0,4.0,1.0,30.0,0.0,0.0,0.0,0.0,205.0,131.0,81.0,23.74,66.0,87.0
1,0.0,57.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,250.0,152.5,92.5,32.31,75.0,94.0
2,0.0,47.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,230.0,123.0,71.0,26.98,83.0,73.0
3,1.0,41.0,2.0,1.0,30.0,0.0,0.0,0.0,0.0,228.0,113.0,82.5,25.67,67.0,70.0
4,0.0,64.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,232.0,149.5,84.0,20.49,68.0,96.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,0.0,36.0,1.0,1.0,5.0,0.0,0.0,1.0,0.0,222.0,147.0,94.0,26.79,76.0,71.0
3386,0.0,57.0,3.0,1.0,15.0,0.0,0.0,0.0,0.0,250.0,125.0,74.0,21.08,80.0,72.0
3387,0.0,60.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,298.0,133.0,89.0,25.09,83.0,81.0
3388,1.0,39.0,2.0,1.0,10.0,0.0,0.0,0.0,0.0,215.0,102.0,64.5,24.50,68.0,62.0
3389,0.0,35.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,248.0,107.0,73.0,20.64,90.0,80.0

Checking Na values again

In [33]:
X_train.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
dtype: int64