In [1]:
import numpy as np
import pandas as pd

In [20]:
df=pd.DataFrame({'Column':[1,2,10,0]},index=None)

In [21]:
df

   Column
0       1
1       2
2      10
3       0