### Lecture 28: Ordinal Encoding

Steps (Scikit-Learn)
1. Getting all categories of Columns we want to apply ordinal encoding **to**
2. Splitting Data into Training & Testing Data
3. Making object of Ordinal Encoder class
4. Applying fit_transform and save to new variable
5. Update X train & X test

Importing Libraries

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder

Importing Data

In [3]:
df=pd.read_csv('addiction_population_data.csv')
df.head(5)

,id,name,age,gender,country,city,education_level,employment_status,annual_income_usd,marital_status,...,attempts_to_quit_smoking,attempts_to_quit_drinking,has_health_issues,mental_health_status,exercise_frequency,diet_quality,sleep_hours,bmi,social_support,therapy_history
0,1,Michael Bates,66.0,Other,Yemen,Martinmouth,Secondary,Student,45595,Married,...,6,2,True,Good,Daily,Average,5.6,22.4,NaN,Current
1,2,Brian Thompson,29.0,Male,Saudi Arabia,Harperhaven,Primary,Self-Employed,145842,Single,...,1,6,False,Poor,Weekly,Good,6.7,24.1,Moderate,NaN
2,3,Steven Little,75.0,Male,Togo,Chanport,Postgraduate,Unemployed,162480,Single,...,9,9,True,Good,Never,Good,6.2,22.2,Weak,NaN
3,4,Michael Mathews,35.0,Other,Togo,North Cory,University,Unemployed,16023,In a relationship,...,5,7,False,Average,Daily,Good,7.2,25.5,Moderate,Current
4,5,Nicholas Sanchez,38.0,Female,Morocco,Danielberg,College,Self-Employed,62933,In a relationship,...,4,7,True,Poor,Weekly,Good,8.5,31.2,Weak,Past

In [4]:
df=pd.read_csv('addiction_population_data.csv',usecols=['education_level','diet_quality','mental_health_status'])
df.head()

  education_level mental_health_status diet_quality
0       Secondary                 Good      Average
1         Primary                 Poor         Good
2    Postgraduate                 Good         Good
3      University              Average         Good
4         College                 Poor         Good

Step 1: Getting all categories of Columns we want to apply ordinal encoding to

In [5]:
df['education_level'].value_counts()

education_level
University      464
Postgraduate    447
High School     428
Primary         417
Secondary       415
College         409
Name: count, dtype: int64

In [6]:
df['diet_quality'].value_counts()

diet_quality
Poor       1047
Good       1001
Average     952
Name: count, dtype: int64

Step 2: Splitting Data into Training & Testing Data

In [7]:
X=df.drop(columns='mental_health_status',axis=1)
Y=df.mental_health_status

In [8]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

Step 3: Making object of Ordinal Encoder class

In [9]:
OE=OrdinalEncoder(categories=[['Primary','Secondary','High School','College','University','Postgraduate'],
 ['Poor','Average','Good']])

In [10]:
X_train['education_level']=X_train['education_level'].fillna(X_train['education_level'].mode()[0])
X_test['education_level']=X_test['education_level'].fillna(X_test['education_level'].mode()[0])

Step 4:Applying fit_transform and save to new variable

In [11]:
X_train_new=OE.fit_transform(X_train)
X_test_new=OE.transform(X_test)

Applying Label Encoding

In [12]:
LE=LabelEncoder()
Y_train=LE.fit_transform(Y_train)
Y_test=LE.transform(Y_test)

Fetching column names

In [13]:
col=OE.get_feature_names_out()

Step 5: Update X train & X test

In [14]:
X_train=pd.DataFrame(X_train_new,columns=col)
X_test=pd.DataFrame(X_test_new,columns=col)

In [15]:
X_train

      education_level  diet_quality
0                 4.0           0.0
1                 1.0           2.0
2                 3.0           0.0
3                 3.0           0.0
4                 5.0           0.0
...               ...           ...
2395              3.0           0.0
2396              4.0           2.0
2397              4.0           2.0
2398              1.0           0.0
2399              4.0           0.0

[2400 rows x 2 columns]

In [16]:
Y_train

array([1, 0, 2, ..., 2, 0, 0])