### Lecture 24: Handing Mixed Data in a Column

Steps
1. See which column has mixed variables
2. Checking total no of categories in a column
3. Checking type of Mixed Data (Single,multi,space between them)
4. Extracting Numerical Part 
5. Extracting Categorical Part

Importing Libraries

In [150]:
import pandas as pd

import numpy as np

Importing Data

In [151]:
df=pd.read_csv('avocado_ripeness_dataset.csv')
df.head()

,firmness,hue,saturation,brightness,color_category,sound_db,weight_g,size_cm3,ripeness,Quality,Tag,Avocado Num
0,14.5,19.0,40.0,26.0,black,34.0,175.0,261.0,ripe,A10,21,330911
1,71.7,53.0,69.0,75.0,green,69.0,206.0,185.0,pre-conditioned,A40,4,363272
2,88.5,60.0,94.0,46.0,dark green,79.0,220.0,143.0,hard,B2,7,240276
3,93.8,105.0,87.0,41.0,dark green,75.0,299.0,140.0,hard,C2,3,315154
4,42.5,303.0,58.0,32.0,purple,63.0,200.0,227.0,breaking,D7,2,3101298

Step 1: Checking which columns have mixed data

###### Here Tag & Quality are columns having mixed data

Step 2: Checking total no of categories in a column

In [152]:
df['Quality'].unique()

array(['A10', 'A40', 'B2', 'C2', 'D7', 'D2', 'C3', 'A3', 'A4', 'C1', 'B3',
       nan], dtype=object)

Step 3: Check type of mixed data (Single/Multi)

#### Single Type

Step 4: Extracting Numerical Part

In [153]:
df['Tag_numerical']=pd.to_numeric(df['Tag'],downcast='integer',errors='coerce')

Step 5: Extracting Categorical Part

In [154]:
df['Tag_categorical']=np.where(df['Tag_numerical'].isnull(),df['Tag'],np.nan)

In [155]:
df.sample(5)

,firmness,hue,saturation,brightness,color_category,sound_db,weight_g,size_cm3,ripeness,Quality,Tag,Avocado Num,Tag_numerical,Tag_categorical
275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,236853,NaN,NaN
186,58.3,272.0,62.0,57.0,purple,58.0,242.0,239.0,breaking,C2,2,S.O./P.P. 2,2.0,NaN
342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CA. 2343,NaN,NaN
144,56.1,322.0,54.0,39.0,purple,63.0,196.0,200.0,breaking,D2,78,17475,78.0,NaN
345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,348125,NaN,NaN

#### Multi No Space

In [156]:
df['Quality'].unique()

array(['A10', 'A40', 'B2', 'C2', 'D7', 'D2', 'C3', 'A3', 'A4', 'C1', 'B3',
       nan], dtype=object)

Step 4: Capture Numerical Part

In [157]:
df['Quality_numerical'] = df['Quality'].str.extract(r'(\d+)')

Step 5: Capturing Categorical Part

In [158]:
df['Quality_categorical'] = df['Quality'].str[0]

In [159]:
df.head()

,firmness,hue,saturation,brightness,color_category,sound_db,weight_g,size_cm3,ripeness,Quality,Tag,Avocado Num,Tag_numerical,Tag_categorical,Quality_numerical,Quality_categorical
0,14.5,19.0,40.0,26.0,black,34.0,175.0,261.0,ripe,A10,21,330911,21.0,NaN,10,A
1,71.7,53.0,69.0,75.0,green,69.0,206.0,185.0,pre-conditioned,A40,4,363272,4.0,NaN,40,A
2,88.5,60.0,94.0,46.0,dark green,79.0,220.0,143.0,hard,B2,7,240276,7.0,NaN,2,B
3,93.8,105.0,87.0,41.0,dark green,75.0,299.0,140.0,hard,C2,3,315154,3.0,NaN,2,C
4,42.5,303.0,58.0,32.0,purple,63.0,200.0,227.0,breaking,D7,2,3101298,2.0,NaN,7,D

#### Multi with Space

In [160]:
df['Avocado Num'].unique()

array(['330911', '363272', '240276', '315154', '3101298', '7538',
       '330972', '248738', '2657', 'A/4 48871', '349220', '694', '21228',
       '24065', 'W.E.P. 5734', 'SC/PARIS 2167', '233734', '2692',
       'STON/O2. 3101270', '2696', 'PC 17603', 'C 17368', 'PC 17598',
       'PC 17597', 'PC 17608', 'A/5. 3337', '113509', '2698', '113054',
       '2662', 'SC/AH 3085', 'C.A. 31029', 'C.A. 2315', 'W./C. 6607',
       '13236', '2682', '342712', '315087', '345768', '1601', '349256',
       '113778', 'SOTON/O.Q. 3101263', '237249', '11753',
       'STON/O 2. 3101291', 'PC 17594', '370374', '11813', 'C.A. 37671',
       '13695', 'SC/PARIS 2168', '29105', '19950', 'SC/A.3 2861',
       '382652', '349230', '348122', '386525', '349232', '237216',
       '347090', '334914', 'F.C.C. 13534', '330963', '113796', '2543',
       '382653', '349211', '3101297', 'PC 17562', '113503', '359306',
       '11770', '248744', '368702', '2678', 'PC 17483', '19924', '349238',
       '240261', '2660', '330844', 'A/4 31416', '364856', '29103',
       '347072', '345498', 'F.C. 12750', '376563', '13905', '350033',
       '19877', 'STON/O 2. 3101268', '347471', 'A./5. 3338', '11778',
       '228414', '365235', '347070', '2625', 'C 4001', '330920', '383162',
       '3410', '248734', '237734', '330968', 'PC 17531', '329944', '2680',
       '2681', 'PP 9549', '13050', 'SC/AH 29037', 'C.A. 33595', '367227',
       '392095', '368783', '371362', '350045', '367226', '211535',
       '342441', 'STON/OQ. 369943', '113780', '4133', '2621', '349226',
       '350409', '2656', '248659', 'SOTON/OQ 392083', 'CA 2144', '113781',
       '244358', '17475', '345763', '17463', 'SC/A4 23568', '113791',
       '250651', '11767', '349255', '3701', '350405', '347077',
       'S.O./P.P. 752', '347469', '110489', 'SOTON/O.Q. 3101315',
       '335432', '2650', '220844', '343271', '237393', '315153',
       'PC 17591', 'W./C. 6608', '17770', '7548', 'S.O./P.P. 251', '2670',
       '2673', '29750', 'C.A. 33112', '230136', 'PC 17756', '233478',
       '113773', '7935', 'PC 17558', '239059', 'S.O./P.P. 2', 'A/4 48873',
       'CA. 2343', '28221', '226875', '111163', 'A/5. 851', '235509',
       '28220', '347465', '16966', '347066', 'C.A. 31030', '65305',
       '36568', '347080', 'PC 17757', '26360', 'C.A. 34050', 'F.C. 12998',
       '9232', '28034', 'PC 17613', '349250', 'SOTON/O.Q. 3101308',
       'S.O.C. 14879', '347091', '113038', '330924', '36928', '32302',
       'SC/PARIS 2148', '342684', 'W./C. 14266', '350053', 'PC 17606',
       '2661', '350054', '370368', 'C.A. 6212', '242963', '220845',
       '113795', '3101266', '330971', 'PC 17599', '350416', '110813',
       '2679', '250650', 'PC 17761', '112377', '237789', '3470', '17464',
       '26707', 'C.A. 34651', 'SOTON/O2 3101284', '13508', '7266',
       '345775', 'C.A. 42795', 'AQ/4 3130', '363611', '28404', '345501',
       '345572', '350410', 'C.A. 34644', '349235', '112051', 'C.A. 49867',
       'A. 2. 39186', '315095', '368573', '370371', '2676', '236853',
       'SC 14888', '2926', 'CA 31352', 'W./C. 14260', '315085', '364859',
       '370129', 'A/5 21175', 'SOTON/O.Q. 3101314', '2655', 'A/5 1478',
       'PC 17607', '382650', '2652', '33638', '345771', '349202',
       'SC/Paris 2123', '113801', '347467', '347079', '237735', '315092',
       '383123', '112901', '392091', '12749', '350026', '315091', '2658',
       'LP 1588', '368364', 'PC 17760', 'AQ/3. 30631', 'PC 17569',
       '28004', '350408', '347075', '2654', '244368', '113790', '24160',
       'SOTON/O.Q. 3101309', 'PC 17585', '2003', '236854', 'PC 17580',
       '2684', '2653', '349229', '110469', '244360', '2675', '2622',
       'C.A. 15185', '350403', 'PC 17755', '348125', '237670', '2688',
       '248726', 'F.C.C. 13528', 'PC 17759', 'F.C.C. 13540', '113044',
       '11769', '1222', '368402', '349910', 'S.C./PARIS 2079', '315083',
       '11765', '2689', '3101295', '112378', 'SC/PARIS 2147', '28133',
       '112058', '248746', '315152', '29107', '680', '366713', '330910',
       '364498', '376566', 'SC/PARIS 2159', '349911', '244346', '364858',
       '349909', 'PC 17592', 'C.A. 2673', 'C.A. 30769', '371109', '13567',
       '347065', '21332', '28664', '113059', '17765', 'SC/PARIS 2166',
       '28666', '334915', '365237', '19928', '347086', 'A.5. 3236',
       'PC 17758', 'SOTON/O.Q. 3101262', '359309', '2668'], dtype=object)

Step 4: Capture Numerical Part

In [161]:
# Getting numerical part as string data type
df['Avocado Num Numerical']=df['Avocado Num'].apply(lambda f:f.split()[-1])

In [162]:
# Converting string type to numerical type
df['Avocado Num Numerical']=pd.to_numeric(df['Avocado Num Numerical'],errors='coerce',downcast='integer')

Step 5: Capture Categorical Part

In [163]:
# Splitting num and cat part
df['Avocado Num Cat']=df['Avocado Num'].apply(lambda f:f.split()[0]) 

# Making cat & num columns
df['Avocado Num Cat']=np.where(df['Avocado Num Cat'].str.isdigit(),np.nan,df['Avocado Num Cat'])

In [164]:
df.sample(10)

,firmness,hue,saturation,brightness,color_category,sound_db,weight_g,size_cm3,ripeness,Quality,Tag,Avocado Num,Tag_numerical,Tag_categorical,Quality_numerical,Quality_categorical,Avocado Num Numerical,Avocado Num Cat
399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21332,NaN,NaN,NaN,NaN,21332,NaN
327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PC 17585,NaN,NaN,NaN,NaN,17585,PC
209,86.1,119.0,90.0,40.0,dark green,72.0,241.0,143.0,hard,C3,4,349250,4.0,NaN,3,C,349250,NaN
215,23.4,26.0,48.0,31.0,black,50.0,230.0,271.0,firm-ripe,B2,5,113038,5.0,NaN,2,B,113038,NaN
340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C.A. 15185,NaN,NaN,NaN,NaN,15185,C.A.
376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,315152,NaN,NaN,NaN,NaN,315152,NaN
179,49.8,303.0,69.0,54.0,purple,63.0,258.0,239.0,breaking,C2,E,PC 17756,NaN,E,2,C,17756,PC
114,27.6,295.0,58.0,32.0,purple,55.0,184.0,245.0,firm-ripe,A3,F,PC 17483,NaN,F,3,A,17483,PC
32,70.5,79.0,71.0,74.0,green,65.0,252.0,162.0,pre-conditioned,A3,A,C.A. 2315,NaN,A,3,A,2315,C.A.
16,73.6,76.0,89.0,71.0,green,69.0,200.0,155.0,pre-conditioned,C2,0,233734,0.0,NaN,2,C,233734,NaN